.footer {
    position: relative;
    background-color: var(--greenDark);
}

.footer__container {
    max-width: 71.35vw;
    width: 100%;
    margin-inline: auto;
}

.footer__wrapper {
    padding-top: 9.5rem;
    padding-bottom: 14.4rem;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.footer__logo {
    width: 10.8rem;
    height: 5.5rem;
}

.footer__logo:hover .footer__icon,
.footer__logo:focus .footer__icon {
    fill: var(--dark);
}

.footer__svg {
    width: 100%;
    height: 100%;
}

.footer__icon {
    fill: var(--white);
    transition: fill 0.3s linear;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.footer__link {
    font-family: var(--lato);
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 3rem;
    color: var(--white);
    text-decoration: none;
    transition: color 0.3s linear;
}

.footer__link:hover,
.footer__link:focus {
    color: var(--dark);
}

.footer__social-bar {
    position: absolute;
    bottom: 4rem;
    right: 9.2rem;
    display: flex;
    align-items: flex-end;
    gap: 28.7rem;
    flex-wrap: wrap;
}

.footer__social {
    display: flex;
    gap: 5.1rem;
    flex-wrap: wrap;
}

.footer__social-link {
    display: inline-block;
    width: 8.3rem;
    height: 7.7rem;
    padding: 2.6rem;
    background: var(--white);
    border-radius: 50%;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
}

.footer__social-link:hover,
.footer__social-link:focus {
    animation: gradient 0.5s;
    background: conic-gradient(from 180deg at 50% 50%, #80A4CE 0deg, #F289AA 60deg, #C68BF0 106.09deg, #D164DA 153.75deg, #C963E8 221.25deg, #BFC2E8 258.75deg, #FFC999 288.75deg, #D0D8C9 315deg, #BAD0F1 334.13deg, #CED8CB 358.97deg, rgba(255, 255, 255, 0) 360deg);
}

@keyframes gradient {
    0% {
        background: conic-gradient(from 180deg at 50% 50%, var(--white) 360deg);
    }
    10% {
        background: conic-gradient(from 180deg at 50% 50%, #80A4CE 0deg, var(--white) 360deg);
    }
    20% {
        background: conic-gradient(from 180deg at 50% 50%, #80A4CE 0deg, #F289AA 60deg, var(--white) 360deg);
    }
    30% {
        background: conic-gradient(from 180deg at 50% 50%, #80A4CE 0deg, #F289AA 60deg, #C68BF0 106.09deg, var(--white) 360deg);
    }
    40% {
        background: conic-gradient(from 180deg at 50% 50%, #80A4CE 0deg, #F289AA 60deg, #C68BF0 106.09deg, #D164DA 153.75deg, var(--white) 360deg);
    }
    50% {
        background: conic-gradient(from 180deg at 50% 50%, #80A4CE 0deg, #F289AA 60deg, #C68BF0 106.09deg, #D164DA 153.75deg, #C963E8 221.25deg, var(--white) 360deg);
    }
    60% {
        background: conic-gradient(from 180deg at 50% 50%, #80A4CE 0deg, #F289AA 60deg, #C68BF0 106.09deg, #D164DA 153.75deg, #C963E8 221.25deg, #BFC2E8 258.75deg, var(--white) 360deg);
    }
    70% {
        background: conic-gradient(from 180deg at 50% 50%, #80A4CE 0deg, #F289AA 60deg, #C68BF0 106.09deg, #D164DA 153.75deg, #C963E8 221.25deg, #BFC2E8 258.75deg, #FFC999 288.75deg, var(--white) 360deg);
    }
    80% {
        background: conic-gradient(from 180deg at 50% 50%, #80A4CE 0deg, #F289AA 60deg, #C68BF0 106.09deg, #D164DA 153.75deg, #C963E8 221.25deg, #BFC2E8 258.75deg, #FFC999 288.75deg, #D0D8C9 315deg, var(--white) 360deg);
    }
    90% {
        background: conic-gradient(from 180deg at 50% 50%, #80A4CE 0deg, #F289AA 60deg, #C68BF0 106.09deg, #D164DA 153.75deg, #C963E8 221.25deg, #BFC2E8 258.75deg, #FFC999 288.75deg, #D0D8C9 315deg, #BAD0F1 334.13deg, var(--white) 360deg);
    }
    100% {
        background: conic-gradient(from 180deg at 50% 50%, #80A4CE 0deg, #F289AA 60deg, #C68BF0 106.09deg, #D164DA 153.75deg, #C963E8 221.25deg, #BFC2E8 258.75deg, #FFC999 288.75deg, #D0D8C9 315deg, #BAD0F1 334.13deg, #CED8CB 358.97deg, rgba(255, 255, 255, 0) 360deg);
    }
}

.footer__social-link:hover .footer__social-icon,
.footer__social-link:focus .footer__social-icon {
    fill: var(--white);
}

.footer__social-svg {
    width: 100%;
    height: 100%;
}

.footer__social-icon {
    fill: var(--social);
    transition: fill 0.5s linear;
}

.footer__buttons-title {
    margin-bottom: 5rem;
    font-family: var(--poppins);
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: 0.005em;
    color: var(--white);
    text-align: center;
}

.footer__buttons {
    display: flex;
    gap: 1.4rem;
    flex-wrap: wrap;
}

.footer__button-link {
    display: inline-flex;
    align-items: center;
    gap: 1.1rem;
    padding: 1.5rem 2rem 1.5rem 3.5rem;
    background-color: var(--social);
    border-radius: 1.8rem;
    transition: opacity 0.3s linear;
}

.footer__button-link:hover,
.footer__button-link:focus {
    opacity: 0.7;
}

.google-btn__icon-wrapper,
.apple-btn__icon-wrapper {
    width: 4rem;
    height: 3.7rem;
}

.google-btn__icon-svg,
.apple-btn__icon-svg {
    width: 100%;
    height: 100%;
}

.google-btn__text-wrapper,
.apple-btn__text-wrapper {
    width: 11rem;
    height: 3.2rem;
}

.google-btn__text-svg,
.apple-btn__text-svg {
    width: 100%;
    height: 100%;
}