.header {
    border-bottom: 0.1rem solid var(--gray);
}

.header__container {
    max-width: 71.35vw;
    width: 100%;
    margin-inline: auto;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1.7rem 0;
}

.header__logo {
    width: 8rem;
    height: 2.3rem;
}

.header__logo:hover .header__icon,
.header__logo:focus .header__icon {
    fill: var(--dark);
}

.header__svg {
    width: 100%;
    height: 100%;
}

.header__icon {
    fill: var(--green);
    transition: fill 0.3s linear;
}

.header__list {
    display: flex;
    gap: 7.2rem;
}

.header__link {
    font-family: var(--lato);
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.4rem;
    color: var(--dark);
    text-decoration: none;
    transition: color 0.3s linear;
}

.header__link:hover,
.header__link:focus {
    color: var(--green);
}

.header__button-bar {
    display: flex;
    align-items: center;
    gap: 3.5rem;
}

.header__sign-in {
    font-family: var(--lato);
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.4rem;
    color: var(--black);
    text-decoration: none;
    transition: color 0.3s linear;
}

.header__sign-in:hover,
.header__sign-in:focus {
    color: var(--green);
}

.header__trial {
    display: inline-block;
    padding: 1.3rem 5rem;
    background-color: var(--green);
    font-family: var(--lato);
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.4rem;
    color: var(--white);
    text-decoration: none;
    border-radius: 0.4rem;
    transition: opacity 0.3s linear;
}

.header__trial:hover,
.header__trial:focus {
    opacity: 0.7;
}