.video {
    background-color: var(--greenDark);
}

.video__container {
    max-width: 78.54vw;
    width: 100%;
    margin-inline: auto;
}

.video__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-top: 22.9rem;
    padding-bottom: 17.7rem;
}

.video__descr {
    max-width: 58rem;
}

.video__title {
    font-family: var(--georgia);
    font-weight: 700;
    font-size: 5rem;
    line-height: 7.9rem;
    color: var(--white);
}

.video__text {
    margin-top: 3.3rem;
    margin-bottom: 5.7rem;
    font-family: var(--lato);
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 3.9rem;
    color: var(--white);
}

.video__button {
    display: inline-block;
    padding: 2rem 5rem;
    background-color: var(--green);
    font-family: var(--lato);
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.5rem;
    color: var(--white);
    text-decoration: none;
    border-radius: 0.4rem;
    transition: opacity 0.3s linear;
}

.video__button:hover,
.video__button:focus {
    opacity: 0.7;
}

.video__content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 89.6rem;
    height: auto;
    border-radius: 1.7rem;
    overflow: hidden;
}

.video__content::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--videoBackground);
}

.video__img {
    width: 100%;
    height: auto;
}

.video__play {
    position: absolute;
    z-index: 5;
    width: 8.1rem;
    height: 8.1rem;
    border-radius: 50%;
    overflow: hidden;
}

.video__play:hover .video__icon,
.video__play:focus .video__icon {
    fill: var(--green);
}

.video__svg {
    width: 100%;
    height: 100%;
}

.video__icon {
    fill: var(--white);
    transition: fill 0.3s linear;
}